@model IEnumerable<Client.Models.MessageProjet>

@{
    ViewBag.Title = "MessageProjet";
}

<h2>MessageProjet</h2>

@{ int? pr = null;}
<div class="divmessage">

    @foreach (var item in Model)
    {<div class="divpostunique">
            <div class="Auteur">@Html.DisplayFor(modelItem => item.Auteur)</div>
            <div class="Date">@Html.DisplayFor(modelItem => item.Date)</div>
            <div class="Contenu">@Html.DisplayFor(modelItem => item.Contenu)</div>
            <br class="clearboth" />
        </div>
        
    }
    @if (Model != null && Model.Any())
    {
        pr = Model.FirstOrDefault().Id_Projet; 
    }

</div>

<br class="clearboth" />
<div class="divmessage">
    <form action="~/Member/RepondreProjet" method="post">
        <input type="hidden" name="idPr" id="idPr" value='@pr' />
        <input type="hidden" name="idMsg" id="idMsg" value='@Model.First().Id;' />
        <textarea name="msg" id="msg" class="champtext" maxlength="4000" placeholder="Entrez votre messages ici !"></textarea>
        @*<input class="champtext" type="text" size="4000" name="msg" id="msg" />*@
        <input class="btnEnvoyez" type="submit" name="Envoyer" value="Envoyez" />
    </form>
</div>
