body {
    color:#eceaed;
    background-color: #20132b;
    font-family: Montserrat;
    font-size: large;
    font-weight: lighter;
}
.menumilieu{
    margin:auto;
}
.list-group {
    color: #9c9898;
    background-color: #0e0a3c;
    margin-top:125px;
    }
.btn-lien {
    color: whitesmoke;
}
hr {
    border-color: #ae0d0d;
}

.detproj {
    color: aliceblue;

}