body {
    color:#0e0a3c;
    background-color: #d1e8fb;
    font-family:Consolas;
    /*font-family: Montserrat;*/
    font-size: large;
    font-weight: lighter;
}
.base-page {

    margin: auto;
    width: 90%;
    
    /*margin-left: 300px;
    margin-right: 300px;*/
}
.menumilieu{
    margin:auto;
}

.list_message {
    color: #efd17f;
    background-color: #0e0a3c;
    margin-top:125px;
}
.list-group {
    border: solid;
    border-radius: 6px;
    overflow-y: auto;
    scrollbar-3dlight-color: #d15812;
    scrollbar-face-color: #d15812;
    scrollbar-base-color: #efa073;
    scrollbar-track-color: #4f2309;
    max-height: 350px;
    color: #9c9898;
    background-color: #0e0a3c;
    margin-top: 125px;
    padding-left: 5px;
}
.btn-lien {
    color: #eceaed;
}
hr {
    border-color: #ae0d0d;
}

.detproj {
    color: aliceblue;

}
dt {
    color: #125fb2;
    width:160px;
    
   

}
select {

    border: 1px solid #fff;
    background-color: transparent;
}
dd{
    width:350px;
    
}
.btnEnvoyez {
    border-style: solid;
    border-color: #a31818;
    font-weight: bold;

    
}

.rowlongueur1 {

    padding:5px;
    right:30px;
    bottom: 30px;
    max-width: 650px;
    margin-left: 35px;
    border-radius: 7px;
    color: #adadb2;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
    background-color: #007acc;
    border-style: ridge;
    border-color: #adadb2;
}

.rowlongueur2 {

    padding:5px;
    max-width:650px;
    margin-right:35px;
    border-radius: 7px;
    padding-left: 15px;
    color: #007acc;
    border-style: ridge;
    border-color: #007acc;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
    background-color: #adadb2;
}

.rowdate {

    text-align:right;
    font-size:11pt;
    position:relative;
    float:right;
    width:250px;

}
.clearboth {
    clear: both;
}
.floatdepanR {
    float: right;
    width: 300px;
}
.floatdepanL {
    margin:auto;
    float: left;
    max-width: 500px;
}
.lien_div {
    width :800px
}
.champtext {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    background-color: #cbca87;
    color:#3d3c04;
    border-radius:15px;
    border-style: dashed;
    border-color: #1e3445;
    border-width:4px;
    text-align:start;
    height:115px;
    max-width:650pt;
    min-width:650pt;
}
.sgnal_border {
    border-color: #fb0808;
    border-style: solid;
    border-width: 5px;
}
.divmessage {
    margin: auto;
    width: 75%;
    max-width:1250px;
   

}
.divpostunique {

    margin-top:28px;
    border-style: outset;
    border-width:2px;
    border-color: #a6aec2;
    padding: 22px;

}
.Auteur {
    float: left;
    height: 225px;
    width: 22%;
    border-color: #007acc;
    border-style: solid;
    border-width: 3px;
}


.Date {
    float: right;
    border-color: #89b147;
    border-style: solid;
    border-width: 3px;
    height: 30px;
    width: 77%;
}
.Contenu {
    float: right;
    border-color: #2937a5;
    border-style: solid;
    border-width: 3px;
    height: 195px;
    width: 77%;

}